h2 Awesomeness

ul
  li.fragment Uses ES2015 features to abstract away complexity of async behaviors
  li.fragment Readable and maintainable
  li.fragment Trivial to handle errors
  li.fragment Easy to test
