h2 Awesomeness

ul
  li.fragment Uses ES2015 features to abstract away complexity of async behaviors
  li.fragment Easy to read & maintain
  li.fragment Trivial to handle errors
  li.fragment Total control over executing flows (cancellation, suspension)
