h2 Composition

p What if multiple sagas have common logic?

p Sagas can be composed to call one another

pre
  code.lang-javascript
    .fragment
      | function* commonSaga() {
      |   // Common stuff happens here //
      | }
    |
    .fragment
      | function* uniqueSaga1() {
      |   // Another Saga can be executed via 'call'
      |   yield call(commonSaga);
      | }
    |
    .fragment
      | function* uniqueSaga2() {
      |   // Another Saga can also be directly
      |   // invoked (not recommended)
      |   yield* commonSaga();
      | }
    |
