h2 Structure

p There are two parts

ol
  li.fragment Watcher
    small Watches for conditions we care about and invokes the appropriate Saga. These are initialized at app startup.

  li.fragment Saga
    small Invoked by a Watcher and are responsible for business logic. They are initialized on-demand.