h2 Triggering


p Multiple Sagas can be triggered from the same action
p You can even a wildcard to match action types

pre
  code.lang-javascript
    | const watchers = [
    .fragment
      |   // Every time a SAVE is seen kick off instance of 'save' saga
      |   takeEvery("SAVE", save),
      |
      |
    .fragment
      |   // Every time any action is seen kick off the 'analytics' saga
      |   takeEvery("*", analytics)
    | ];