pre
  code.lang-javascript
    | function* watchers() {
    .fragment
      |   // Start 'save' saga every time "SAVE" action occurs
      |   yield fork(takeEvery("SAVE", save));
      |
    .fragment
      |   // Start 'refresh' saga every time "REFRESH" action occurs
      |   // Cancel any instances already running.
      |   yield fork(takeLatest("REFRESH", refresh));
    | }
    |
    | // Sagas
    | function* save(saveAction) {
    |   // Logic here
    | }
    | function* refresh(refreshAction) {
    |   // Logic here
    | }
