h2 Composition

p What if multiple sagas have common logic?

p Sagas can be composed to call one another

pre
  code.lang-javascript
    .fragment
      | function* confirm() {
      |   yield put({ type: "CONFIRM" });
      |   const choice = yield take(["CANCELLED", "CONFIRMED"]);
      |   return choice.type === "CONFIRMED";
      | }
    |
    .fragment
      | function* saveData() {
      |   // Another Saga can be executed via 'call'
      |   const confirmed = yield call(confirm);
      | }
    |
    .fragment
      | function* deleteData() {
      |   // Another Saga can also leverage it
      |   const confirmed = yield call(confirm);
      | }
    |
