h2 Examples of Helpers

pre.fragment
  code.lang-javascript
    | const currentReduxState = yield select();

pre.fragment
  code.lang-javascript
    | yield put({
    |   type: 'SAVE',
    |   value: valueToSave
    | })

pre.fragment
  code.lang-javascript
    | const result = yield call(myFunction, 'arg1', 'arg2');