pre
  code.lang-javascript
    | import { applyMiddleware, createStore } from 'redux';
    | import createSagaMiddleware from 'redux-saga';
    | import rootReducer from './reducers';
    .fragment
      | import watchers from './watchers'; // Reference to your watchers
    |
    | export const buildStore = () => {
    .fragment
      |   // Build Saga middleware
      |   const sagaMiddleware = createSagaMiddleware();
    .fragment
      |   // Saga middleware can be combined with other middleware
      |   const enhancers = applyMiddleware(sagaMiddleware, ...others);
    .fragment
      |   // Build your Redux store
      |   const store = createStore(rootReducer, enhancers);
    .fragment
      |   // Kick off the watchers - can be delayed if needed
      |   // (wait until after app init, for example)
      |   sagaMiddleware.run(watchers);
    .fragment
      |
      |   return store;
    | };

video.fragment(
  autoplay,
  loop,
  muted,
  src="./images/enhance.mp4",
  style={
    position: 'absolute',
    top: 0,
    bottom: 0,
    left: 0,
    right: 0,
    margin: 'auto',
    width: '50%'
  }
)