h3 What does any of this have to do with Generators?

h4.fragment A Saga has a set of interactions to be executed in order
small.fragment  ...sounds like an iterator

h4.fragment Some interactions are dependent on async behaviors of User & Network
small.fragment ...maybe we can abstract that away?

h4.fragment Duplicate stimuli should result in duplicate Saga executions
small.fragment ...we need multiple, independent iterator instances
