h2 What is a Saga?

p.fragment
  | A
  strong  set of interactions
  |  that comprise a
  strong  single logical flow

h4.fragment Sagas are:

ul
  li.fragment Triggered by stimulus (redux Action)

h4.fragment and can:

ul
  li.fragment Use redux State
  li.fragment Call functions
  li.fragment Wait for additional Action(s)
  li.fragment Generate Actions
