h3 What does any of this have to do with Generators?

h4.fragment A Saga is an ordered set of interactions (read, dispatch, call, etc)
small.fragment  ...sounds like an iterator

h4.fragment User & network interactions are async
small.fragment ...maybe 'yield' can abstract that away?

h4.fragment Duplicate stimuli should result in duplicate Sagas
small.fragment ...we need multiple, independent iterator instances
