h3 A Saga is a Generator function

ol
  li.fragment
    | Each interaction with Redux is a
    code  yield
    |  within the Generator

  li.fragment
    | The Generator runs each
    code  yield
    |  in turn,

  li.fragment
    | The Generator runs until it reaches the final
    code  yield
    |  , ending the Saga