h2 What is a generator?

p Think of it as a special kind of iterator object

ul
  li.fragment Generator Function constructs an instance of the Generator (iterator)
  li.fragment Instances are independent
  li.fragment Contains normal JS logic
  li.fragment
    | The
    code  yield
    |  keyword generates a value from the Generator and suspends it
  li.fragment
    code .next()
    |  resumes the Generator and retrieves next yielded value and whether more values exist