h2 What is a generator?

p Think of it as a special kind of iterator object

ul
  li.fragment Generator function constructs an instance of the iterator
  li.fragment Instances are independent
  li.fragment Contains normal JS logic
  li.fragment
    | The
    code  yield
    |  keyword generates a value from the iterator and suspends it
  li.fragment
    code .next()
    |  returns a value from the iterator, plus indicates whether more values exist