h2 Benefits of Generators

ul
  li.fragment Stateful
  li.fragment
    | Able to
    i  suspend
    |  instead of blocking
  li.fragment Generators can be executed in a Promise-aware context to abstract away async behaviors
