h2 Benefits of Generators

ul
  li.fragment Stateful
  li.fragment
    | Able to
    i  suspend
    |  instead of blocking
  li.fragment yield is promise-aware, can abstract async behaviors into synchronous-looking logic
