pre
  code.lang-javascript
    | function* counter(count) {
    .fragment
      |   while (true) {
      |     yield count++;
      .fragment
        |     if (count === 10) {
        |       return 10;
        |     }
      |   }
    | }

pre.fragment
  code.lang-javascript
    | const generator = counter(8);
    .fragment
      | generator.next();   /* { value: 8, done: false } */
    .fragment
      | generator.next();   /* { value: 9, done: false } */
    .fragment
      | generator.next();   /* { value: 10, done: true } */
    .fragment
      | generator.next();   /* { value: undefined, done: true } */