pre
  code.lang-javascript
    | function* counter() {
    .fragment
      |   let count = 0;
    .fragment
      |   yield count;
    .fragment
      |   while (count < 3) {
      |     yield ++count;
      |   }
    .fragment
      |   return -1;
    | }

pre.fragment
  code.lang-javascript
    | const generator = counter();
    .fragment
      | generator.next();   /* { value: 0, done: false } */
    .fragment
      | generator.next();   /* { value: 1, done: false } */
    .fragment
      | generator.next();   /* { value: 2, done: false } */
    .fragment
      | generator.next();   /* { value: 3, done: false } */
    .fragment
      | generator.next();   /* { value: -1, done: true } */
    .fragment
      | generator.next();   /* { value: undefined, done: true } */