h2 What is a Saga?

p.fragment A Saga is a flow of logic & interactions executed in response to a Redux action

p.fragment A Saga can:
ul.fragment
  li Read redux state
  li call functions
  li generate actions
  li wait for actions
  li and many other interactions