video.fragment(
  autoplay,
  loop,
  muted,
  src="./images/complicated.mp4",
  style={
  }
)

.fragment
  h3 This sounds complicated

  p Don't worry, the framework uses generators, but you don't really need to understand the nitty-gritty
