pre
  code.lang-javascript
    | import { applyMiddleware, createStore } from 'redux';
    | import createSagaMiddleware from 'redux-saga';
    | import sagas from './sagas'; // Reference to all of your Sagas
    | import rootReducer from './reducers';
    |
    | export const buildStore = () => {
    .fragment
      |   // Build Saga middleware
      |   const sagaMiddleware = createSagaMiddleware();
    .fragment
      |   // Saga middleware can be combined with other middleware
      |   const enhancers = applyMiddleware(sagaMiddleware, ...others);
    .fragment
      |   // Build your Redux store
      |   const store = createStore(rootReducer, enhancers);
    .fragment
      |   // Kick off the Sagas - can be delayed if needed
      |   // (wait until after app init, for example)
      |   sagaMiddleware.run(sagas);
    .fragment
      |
      |   return store;
    | };
