h3 A Saga is a Generator function

p.fragment
  | Each effect is a
  code  yield
  |  within the Generator

p.fragment
  | The Generator runs each
  code  yield
  |  in turn, suspending for each

p.fragment
  | The Generator runs until it reaches the final
  code  yield
  |  , ending the Saga